*{
	margin: 0px;
	padding: 0px;
	font-family: "Trebuchet MS", arial, helvetica;
}

.carregamento{
	position: absolute; z-index: 1; background: url(imgs/bg.jpg); width: 100%; height: 100%;
}

.estado{
	position: absolute; left: 45%; top: 40%;
}

.estado img{
	height: 90px; width: 90px;
}

body{
	background-image: url(imgs/bg.jpg);
	background-repeat: no-repeat;
	overflow: none;
}
@media(min-height: 600px){
	body{
		overflow: hidden;
	}
}

main{
	position: relative; background: #fff; height: 720px; width: 100%;
}

@media(min-height: 590px){
	main{
		height: 750px;
	}

	fieldset{
		top: 75px;
	}
}

header{
	position: relative; background: #fff; margin: 0 auto; border-bottom: 5px solid #d3d3d3;
	height: 300px; width: 100%;
	border-bottom-right-radius: 3px;
}

.eeep{
	position: absolute; left: 0px; top: 64%; transform: translateY(-50%);
	width: 100%;
	height: 200px;
	background-image: url(imgs/E.E.E.P.png);
	background-repeat: no-repeat;
	background-size: 90% 370px;
	background-position: center;
	transition: all 0.1s ease-in-out;
}
@media(max-width: 360px){
	.eeep{
		top: 55%;
		background-size: 98% 320px;
	}
}

.top-barra{
	position: relative; background: #3CB371; height: 60px; width: 100%; 
}

.top-barra h1{
	text-align: center; line-height: 55px;
	color: #fff; font-size: 1.2em;
}

.data{
	background: #2E8B57; position: absolute; right: 0px; bottom: -5px;
	width: 40%; height: 45px; 
}
@media(max-width: 520px){
	.data{
		width: 48%;
	}
}
@media(max-width: 450px){
	.data{
		width: 58%;
	}
}
.data:after{
	position: absolute;
	bottom: 0px; left: -13px;

	content: "";
	display: inline-block;
	border-top: 7px transparent solid;
	border-left: 7px transparent solid;
	border-right: 10px #2E8B57 solid;
	border-bottom: 7px transparent solid;
}
.data:before{
	position: absolute;
	bottom: 0px; left: -18px;

	content: "";
	background: #2E8B57;
	width: 50px;
	height: 7px;
}

@media(max-width: 360px){
	.data{
		width: 100%; text-align: center;
	}
	.data img{
		left: 10px;
	}
}

.data img{
	position: absolute; left: 20px; top: 10px;
	height: 20px; width: 20px;
}

.data p{
	color: #fff; position: absolute; left: 45px; top: 10px; font-size: 1em;
}
@media(){
	.data p{
		text-align: center;
	}
}

footer{
	position: absolute; width: 100%; height: 60px; left: 0px; border-top: 3.5px solid #006400;  bottom: -500px;
}

footer p{
	text-align: center; line-height: 100px; color: #2E8B57; font-size: 1.0em;
}
@media(max-width: 400px){
	footer p{
		font-size: 0.6em;
	}
}

#login-falso{
	width: 100%; position: relative; height: 500px;
	top: 65px;
}

fieldset{
	border: 1px dashed #d3d3d3;
	position: absolute;
	left: 50%; transform: translateX(-50%);
	width: 98%; height: 100%;
}

fieldset ul{
	list-style: none;
}

fieldset div{
	position: absolute; top: 20%; transform: translateY(-50%);
	left: 50%; transform: translateX(-50%);
	width: 90%; margin: 2px;
}

fieldset a{
	position: absolute; color: #4F4F4F; margin-top: 10px; left: 1%; font-size: 12px;
}

fieldset span{
	color: #222; font-size: 13px; margin-left: 1px; margin-top: 18px; position: absolute;
}

fieldset input{
	padding: 5px; margin-top: 20px; margin-left: 30px; width: 80%;
}

@media(max-width: 320px){
	fieldset input{
	padding: 5px; margin-top: 20px; margin-left: 0px; width: 90%;
	}
}

fieldset input:focus{
	background: #d3d3d3; outline: solid 1px #2E8B57; padding: 5px;
}

#env{
	background: #2E8B57; border: none; border-radius: 2px; padding: 7px; padding-left: 15px; padding-right: 15px; position: absolute;
	color: #fff; top: 180px;
}

legend {
	color: #2E8B57;
    margin-left: 10px;
    padding-left: 10px; 
    padding-right: 28px; 
}

legend img{
	position: absolute; top: -24px; height: 30px; width: 30px;
}
legend span{
	position: relative; left: 25px; top: -7px; color: #2E8B57; font-weight: bold;
}